<!-- =========Obs: Deve criar uma página com a tag ion-app, senão o ion-content bug======== -->
<ion-app> 
<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="container">
    <div class="row">
      <!-- Formulario -->
      <form #form="ngForm" (ngSubmit)="register(form)" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="nome" type="text" class="validate" name="nome" ngModel>
            <label for="nome">Nome da receita</label>
            <span class="helper-text" data-error="wrong" data-success="right">incluir o nome do bolo</span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="nome" type="text" class="validate" name="img" ngModel>
            <label for="nome">Imagem do bolo</label>        
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="nome" type="text" class="validate" name="ingr" ngModel>
            <label for="nome">Ingredientes</label>          
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="nome" type="text" class="validate" name="preparo" ngModel>
            <label for="nome">Modo de preparo</label>         
          </div>
        </div>
        <ion-button type="submit" color="success" expand="block">Cadastrar</ion-button>
      </form>
    </div>
  </div>
</ion-content>

</ion-app>