<ion-header>
  <ion-toolbar>
    <ion-title>Gerência</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div id =container01 class="container">
    <h6>Olá Yuri,</h6>
    <h6>Selecione a ação que deseja:</h6>
    <ion-list>
      <ion-item>
          <ion-select placeholder="Selecione o tipo" (ionChange)="handleChange($event)">
            <ion-select-option *ngFor="let o of option" [value]="o.value">
              {{o.name}}
            </ion-select-option>          
          </ion-select>
      </ion-item>
    </ion-list>    
  </div>
  <hr>
  <div class="container">
    <div [ngSwitch]="crud">
         
      <div *ngSwitchCase="'0'">
        <app-cadastrar></app-cadastrar>
      </div>

      <div *ngSwitchCase="'1'">
        <app-editar></app-editar>
      </div>

      <div *ngSwitchCase="'2'">
       <app-visualizar></app-visualizar>
      </div>
    </div>
  </div>
</ion-content>
